*.bat            text eol=crlf
*.config         text eol=lf
*.cpp            text eol=lf
*.css            text eol=lf
*.cs             text eol=lf
*.c              text eol=lf
Dockerfile       text eol=lf
*.dockerignore   text eol=lf
.env             text eol=lf
.gitattributes   text eol=lf
.gitconfig       text eol=lf
.gitignore       text eol=lf
*.hpp            text eol=lf
*.h              text eol=lf
*.html           text eol=lf
*.inc            text eol=lf
*.ini            text eol=lf
*.java           text eol=lf
*.json           text eol=lf
*.js             text eol=lf
*.lock           text eol=lf
makefile         text eol=lf
*.md             text eol=lf
*.npmignore      text eol=lf
*.py             text eol=lf
*.rb             text eol=lf
.*rc             text eol=lf
*.scss           text eol=lf
*.sh             text eol=lf
*.vue            text eol=lf
*.xml            text eol=lf
*.yaml           text eol=lf
*.yml            text eol=lf
