# The selected Deployment type. Must be one of: `["dev", test", "staging", "production"]`
# Default: dev
DEPLOYMENT_ENV=dev


# ---------------
# - Package publishing credentials
# ---------------
# Credentials used to publish {{cookiecutter.python_package_name}} package to Pypi
PYPI_USER=
PYPI_PASSWORD=

# Credentials used to publish {{cookiecutter.python_package_name}} package to Google Cloud Platform's Artifact Registry
GCP_ARTIFACT_URL=
GCP_ARTIFACT_USER=
GCP_ARTIFACT_PASSWORD=
